@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


:root {
    --cor1: #6fbbfdaa;
    --cor2: #5FFAF0;
    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.843));
    min-height: 100px;
    text-align: justify;
    padding-top: 40px;
    margin: auto;
}

header > h1 {
    color: rgba(148, 198, 198, 0.85);
    font-size: 3em;
    padding-left: 15px;
}

nav {
    background-color: rgb(19, 147, 147);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.363);
    padding: 10px;
}


nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: rgb(35, 35, 76);

}

main {
}

footer {

}